<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
</head>

<body>
    <div class="succesfullyArea">
        <div class="succesNotify">Obrigado por comprar!</div>
    </div>
    <div class="notifySectionXX">
        <div class="notifyArea"></div>
    </div>
    <div class="coinBuyArea">
        <div class="coinBuyMain">
            <div class="exitAreaBuy">
                <span id="exitText">EXIT</span>
                <span><i id="exitBttn" class="fa-sharp fa-solid fa-circle-xmark"></i></span>
            </div>
            <div class="coinListArea"></div>
            <div class="redeemSection">
                <input type="text" class="writeTheCode" id="redeemCodeInput" value="RESGATAR CÓDIGO..."
                    onblur="if(this.value == '') { this.value='RESGATAR CÓDIGO...'}"
                    onfocus="if (this.value == 'RESGATAR CÓDIGO...') {this.value=''}" />
                <div class="redeemOkButton">RESGATAR</div>
            </div>
        </div>
    </div>
    <div class="youWantBuySection">
        <div class="wantGeneral">
            <div class="wantText">TOTAL <span class="wantCoin">300 COINS</span>, VOCÊ APROVA <br /> COMPRA?</div>
            <div class="wantRectangle"></div>
            <div class="wantItemArea">
                <div class="wantItemName">BMW M5</div>
                <div class="wantItemCount">X1</div>
            </div>
            <div class="wantRectangle"></div>
            <div class="wantItemButtonArea">
                <div class="wantButton" id="wantCancelButton">CANCELAR</div>
                <div class="wantButton" id="wantBuyButton">COMPRAR</div>
            </div>
        </div>
    </div>
    <div class="metodpag">
        <div class="validation-container">
            <div class="exitAreaBuy">
                <span id="exitText">EXIT</span>
                <span><i id="exitBttn2" class="fa-sharp fa-solid fa-circle-xmark"></i></span>
            </div>
            <h2>ESCOLHA O MÉTODO DE PAGAMENTO !</h2>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <div id="validation-message"></div>

            <div class="metods">
                <div id="pix" ><img src="https://s2-techtudo.glbimg.com/8CYJpCx54gNyNrHWwm2x9-DHAiw=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/T/d/9KN7bBSd6UKk4hcitczA/marca-pix-1-.jpg" alt="pix"></div>
                <div id="mercpago" ><img src="https://www.zenvia.com/wp-content/uploads/2022/02/mercado-pago.jpgwidth512namemercado-pago.jpg" alt="Mercado pago"></div>
            </div>
        </div>
        <div id="validation-message"></div>
        
    </div>
    <div class="succesfullyPurchArea">
        <div class="succesfullMain">
            <div class="succesItemLabel">BMW M5</div>
            <div class="succesItemImageArea">
                <img id="succesImg" src="./images/car.png" alt="" />
            </div>
            <div class="successfullyText">SUCESSO</div>
            <div class="purchasedText">COMPRADO</div>
        </div>
    </div>
    <div class="infData">
        <div class="exitAreaBuyDescription">
            <span id="exitTextDescription">EXIT</span>
            <span><i id="exitBttnDescription" class="fa-sharp fa-solid fa-circle-xmark"></i></span>
        </div>
        <div id="textDescription"></div>
    </div>
    <div class="generalSection">
        <div class="generalTopSection">
            <div class="titleArea">
                <div class="titleImageArea">
                    <img src="./images/clock.png" alt="" />
                </div>
                <div class="titleTextArea">
                    <div class="title1">Brotas</div>
                    <div class="title2">Role Play</div>
                </div>
            </div>
            <div class="topFirstRectangle"></div>
            <div class="profileArea">
                <div class="profilePhoto">
                    <img id="profilePhotoX" src="<%= avatar.avatar %>" alt="" />
                </div>
                <div class="profileTextArea">
                    <div class="background">
                        <button class="logoutButton logoutButton--dark">
                            <svg class="doorway" viewBox="0 0 100 100">
                                <path
                                    d="M93.4 86.3H58.6c-1.9 0-3.4-1.5-3.4-3.4V17.1c0-1.9 1.5-3.4 3.4-3.4h34.8c1.9 0 3.4 1.5 3.4 3.4v65.8c0 1.9-1.5 3.4-3.4 3.4z" />
                                <path class="bang"
                                    d="M40.5 43.7L26.6 31.4l-2.5 6.7zM41.9 50.4l-19.5-4-1.4 6.3zM40 57.4l-17.7 3.9 3.9 5.7z" />
                            </svg>
                            <svg class="figure" viewBox="0 0 100 100">
                                <circle cx="52.1" cy="32.4" r="6.4" />
                                <path
                                    d="M50.7 62.8c-1.2 2.5-3.6 5-7.2 4-3.2-.9-4.9-3.5-4-7.8.7-3.4 3.1-13.8 4.1-15.8 1.7-3.4 1.6-4.6 7-3.7 4.3.7 4.6 2.5 4.3 5.4-.4 3.7-2.8 15.1-4.2 17.9z" />
                                <g class="arm1">
                                    <path
                                        d="M55.5 56.5l-6-9.5c-1-1.5-.6-3.5.9-4.4 1.5-1 3.7-1.1 4.6.4l6.1 10c1 1.5.3 3.5-1.1 4.4-1.5.9-3.5.5-4.5-.9z" />
                                    <path class="wrist1"
                                        d="M69.4 59.9L58.1 58c-1.7-.3-2.9-1.9-2.6-3.7.3-1.7 1.9-2.9 3.7-2.6l11.4 1.9c1.7.3 2.9 1.9 2.6 3.7-.4 1.7-2 2.9-3.8 2.6z" />
                                </g>
                                <g class="arm2">
                                    <path
                                        d="M34.2 43.6L45 40.3c1.7-.6 3.5.3 4 2 .6 1.7-.3 4-2 4.5l-10.8 2.8c-1.7.6-3.5-.3-4-2-.6-1.6.3-3.4 2-4z" />
                                    <path class="wrist2"
                                        d="M27.1 56.2L32 45.7c.7-1.6 2.6-2.3 4.2-1.6 1.6.7 2.3 2.6 1.6 4.2L33 58.8c-.7 1.6-2.6 2.3-4.2 1.6-1.7-.7-2.4-2.6-1.7-4.2z" />
                                </g>
                                <g class="leg1">
                                    <path
                                        d="M52.1 73.2s-7-5.7-7.9-6.5c-.9-.9-1.2-3.5-.1-4.9 1.1-1.4 3.8-1.9 5.2-.9l7.9 7c1.4 1.1 1.7 3.5.7 4.9-1.1 1.4-4.4 1.5-5.8.4z" />
                                    <path class="calf1"
                                        d="M52.6 84.4l-1-12.8c-.1-1.9 1.5-3.6 3.5-3.7 2-.1 3.7 1.4 3.8 3.4l1 12.8c.1 1.9-1.5 3.6-3.5 3.7-2 0-3.7-1.5-3.8-3.4z" />
                                </g>
                                <g class="leg2">
                                    <path
                                        d="M37.8 72.7s1.3-10.2 1.6-11.4 2.4-2.8 4.1-2.6c1.7.2 3.6 2.3 3.4 4l-1.8 11.1c-.2 1.7-1.7 3.3-3.4 3.1-1.8-.2-4.1-2.4-3.9-4.2z" />
                                    <path class="calf2"
                                        d="M29.5 82.3l9.6-10.9c1.3-1.4 3.6-1.5 5.1-.1 1.5 1.4.4 4.9-.9 6.3l-8.5 9.6c-1.3 1.4-3.6 1.5-5.1.1-1.4-1.3-1.5-3.5-.2-5z" />
                                </g>
                            </svg>
                            <svg class="door" viewBox="0 0 100 100">
                                <path
                                    d="M93.4 86.3H58.6c-1.9 0-3.4-1.5-3.4-3.4V17.1c0-1.9 1.5-3.4 3.4-3.4h34.8c1.9 0 3.4 1.5 3.4 3.4v65.8c0 1.9-1.5 3.4-3.4 3.4z" />
                                <circle cx="66" cy="50" r="3.7" />
                            </svg>
                            <span class="button-text">SAIR</span>
                        </button>
                    </div>
                    <div class="profilegeral">
                        <div class="profileNameArea">
                            <div class="firstName"><%= user.firstName %></div>
                            <div class="lastName"><%= user.lastName %> | <%= user.user_id %></div>
                        </div>
                        <div class="profileCreditArea">
                            <div class="creditIconArea">
                                <img src="https://dgbijzg00pxv8.cloudfront.net/730e2e3d-6058-4f2f-b90e-19a8f43d3574/000000-0000000000/29714182317096389116622984018383799166334810000320155336077102762626826855522/ITEM_PREVIEW1.gif" alt="" />
                            </div>
                            <div class="creditTextArea">
                                <div class="creditCount"><%= user.coin %></div>
                                <div class="creditText">COIN</div>
                            </div>
                            <div class="addCreditButton"><span><i class="bi bi-bag-check-fill"></i></span></div>
                            <a class="cassino" href="/machine"><img src="./images/cassinoB.jpeg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hamburger">
                <i class="bi bi-list"></i>
            </div>
                <div class="profileArea2">
                    <div class="background">
                        <button class="logoutButton logoutButton--dark">
                            <svg class="doorway" viewBox="0 0 100 100">
                                <path
                                    d="M93.4 86.3H58.6c-1.9 0-3.4-1.5-3.4-3.4V17.1c0-1.9 1.5-3.4 3.4-3.4h34.8c1.9 0 3.4 1.5 3.4 3.4v65.8c0 1.9-1.5 3.4-3.4 3.4z" />
                                <path class="bang"
                                    d="M40.5 43.7L26.6 31.4l-2.5 6.7zM41.9 50.4l-19.5-4-1.4 6.3zM40 57.4l-17.7 3.9 3.9 5.7z" />
                            </svg>
                            <svg class="figure" viewBox="0 0 100 100">
                                <circle cx="52.1" cy="32.4" r="6.4" />
                                <path
                                    d="M50.7 62.8c-1.2 2.5-3.6 5-7.2 4-3.2-.9-4.9-3.5-4-7.8.7-3.4 3.1-13.8 4.1-15.8 1.7-3.4 1.6-4.6 7-3.7 4.3.7 4.6 2.5 4.3 5.4-.4 3.7-2.8 15.1-4.2 17.9z" />
                                <g class="arm1">
                                    <path
                                        d="M55.5 56.5l-6-9.5c-1-1.5-.6-3.5.9-4.4 1.5-1 3.7-1.1 4.6.4l6.1 10c1 1.5.3 3.5-1.1 4.4-1.5.9-3.5.5-4.5-.9z" />
                                    <path class="wrist1"
                                        d="M69.4 59.9L58.1 58c-1.7-.3-2.9-1.9-2.6-3.7.3-1.7 1.9-2.9 3.7-2.6l11.4 1.9c1.7.3 2.9 1.9 2.6 3.7-.4 1.7-2 2.9-3.8 2.6z" />
                                </g>
                                <g class="arm2">
                                    <path
                                        d="M34.2 43.6L45 40.3c1.7-.6 3.5.3 4 2 .6 1.7-.3 4-2 4.5l-10.8 2.8c-1.7.6-3.5-.3-4-2-.6-1.6.3-3.4 2-4z" />
                                    <path class="wrist2"
                                        d="M27.1 56.2L32 45.7c.7-1.6 2.6-2.3 4.2-1.6 1.6.7 2.3 2.6 1.6 4.2L33 58.8c-.7 1.6-2.6 2.3-4.2 1.6-1.7-.7-2.4-2.6-1.7-4.2z" />
                                </g>
                                <g class="leg1">
                                    <path
                                        d="M52.1 73.2s-7-5.7-7.9-6.5c-.9-.9-1.2-3.5-.1-4.9 1.1-1.4 3.8-1.9 5.2-.9l7.9 7c1.4 1.1 1.7 3.5.7 4.9-1.1 1.4-4.4 1.5-5.8.4z" />
                                    <path class="calf1"
                                        d="M52.6 84.4l-1-12.8c-.1-1.9 1.5-3.6 3.5-3.7 2-.1 3.7 1.4 3.8 3.4l1 12.8c.1 1.9-1.5 3.6-3.5 3.7-2 0-3.7-1.5-3.8-3.4z" />
                                </g>
                                <g class="leg2">
                                    <path
                                        d="M37.8 72.7s1.3-10.2 1.6-11.4 2.4-2.8 4.1-2.6c1.7.2 3.6 2.3 3.4 4l-1.8 11.1c-.2 1.7-1.7 3.3-3.4 3.1-1.8-.2-4.1-2.4-3.9-4.2z" />
                                    <path class="calf2"
                                        d="M29.5 82.3l9.6-10.9c1.3-1.4 3.6-1.5 5.1-.1 1.5 1.4.4 4.9-.9 6.3l-8.5 9.6c-1.3 1.4-3.6 1.5-5.1.1-1.4-1.3-1.5-3.5-.2-5z" />
                                </g>
                            </svg>
                            <svg class="door" viewBox="0 0 100 100">
                                <path
                                    d="M93.4 86.3H58.6c-1.9 0-3.4-1.5-3.4-3.4V17.1c0-1.9 1.5-3.4 3.4-3.4h34.8c1.9 0 3.4 1.5 3.4 3.4v65.8c0 1.9-1.5 3.4-3.4 3.4z" />
                                <circle cx="66" cy="50" r="3.7" />
                            </svg>
                            <span class="button-text">SAIR</span>
                        </button>
                    </div>
                    <div class="profilePhoto">
                        <img id="profilePhotoX" src="<%= avatar.avatar %>" alt="" />
                    </div>
                    <div class="profileTextArea">
                        <div class="profileCreditArea">
                            <div class="profileNameArea">
                                <div class="firstName"><%= user.firstName %></div>
                                <div class="lastName"><%= user.lastName %> | <%= user.user_id %></div>
                            </div>
                            <div class="creditTextArea">
                                <img src="https://dgbijzg00pxv8.cloudfront.net/730e2e3d-6058-4f2f-b90e-19a8f43d3574/000000-0000000000/29714182317096389116622984018383799166334810000320155336077102762626826855522/ITEM_PREVIEW1.gif" alt="" />
                                <div class="creditCount"><%= user.coin %></div>
                                <div class="creditText">COIN</div>
                            </div>
                            <div class="addCreditButton">COMPRAR<span><i class="bi bi-bag-check-fill"></i></span></div>
                            <a class="cassino" href="/machine"><img src="./images/cassinoB.jpeg" alt=""><span>JOGAR</span></a>
                        </div>
                    </div>
                </div>
            
        </div>

        <div class="generalBottomSection">
            <div class="bottomLeftWrapper">
                <img id="leftImage" src="./images/leftBorder.png" alt="" />
                <div class="rankingTextArea">
                    <div class="weeklyText">TOP</div>
                    <div class="rankingText">PLAYERS</div>

                    <!-- <i id="clockIcon2" class="fa-solid fa-clock"></i>
                        <div class="weeklyDay">3</div>
                        <div class="weeklyDayText">day</div> -->
                </div>
                <div class="rankAreaRankList"></div>
                <div class="topTextArea">
                    <div class="topText">TOP</div>
                    <div class="text6">6</div>
                </div>
            </div>
            <div class="bottomRightWrapper">
                <div class="bottomRightWrapperA">
                    <img id="rightImage" src="./images/rightBox.png" alt="" />
                    <div class="rightBoxTopArea">
                        <div class="plyTmShopTextArea">
                            <div class="playTmText">LOJA</div>
                            <div class="shpText">BROTAS</div>
                        </div>
                        <div class="rightBoxRectangle"></div>
                    </div>
                    <div class="rightItemList"></div>
                    <div class="rightItemBottomButtonArea">
                        <div class="previousButton">
                            <i id="arrowButton" class="fa-solid fa-arrow-left"></i>
                            <div class="previousText">VOLTAR PAGINA</div>
                        </div>
                        <div class="pageArea">
                            <div class="currentPage">1</div>
                            <div class="totalPage">/ 1</div>
                        </div>
                        <div class="nextButton">
                            <div class="nextText">PROXIMA PAGINA</div>
                            <i id="rightArrowButton" class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="categorySection"></div>
        </div>
    </div>
    <script>
        var info = <%- JSON.stringify(info) %>;
    </script>
    <script src="js/fontawesome.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="js/progressbar.js"></script>
    <script src="js/app.js?v=1"></script>
</body>

</html>